<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>


<% if params[:query] %>
  <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>
  <div class="pure-menu">
    <ul class="pure-menu-list">

      <% @results.map do |chapter| %>

        <li class="pure-menu-item">
          <h4><%= chapter[:name]%></h4>
          <ul>
            <% chapter[:paragraphs].each do |index, paragraph| %>
              <li>
                <a href="/chapters/<%= chapter[:number] %>#paragraph<%= index %>">
                  <%= highlight(paragraph, params[:query]) %> 
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <% if @results.empty? %>
    <p>Sorry, no matches were found</p>
  <% end %>
<% end %>
